__pycache__
*.pyc
b2023/f8_bert/*.coef
b2023/f8_bert/*.data
b2023/f8_bert/*.json
b2023/f8_bert/*.onnx
b2023/f8_bert/*.pkl
b2023/f8_bert/*.prof
b2023/f8_bert/*.pt
b2023/f8_bert/*.yaml
b2023/f8_bert/*.zip
b2023/f8_bert/cache/*
b2023/f8_bert/data/*
b2023/f8_bert/nc_workspace/*
b2023/f8_bert/_quantized/*
b2023/f8_bert/stat/*
b2023/LLAMA/*.csv
b2023/LLAMA/*.xlsx
b2023/LLAMA/models/*
b2023/trees/venv/*
b2023/trees/test_*
b2023/dort_simple/*.csv
b2023/dort_simple/*.xlsx
b2023/dort_simple/*.onnx
