__pycache__
*.pyc
2023/f8_bert/*.coef
2023/f8_bert/*.data
2023/f8_bert/*.json
2023/f8_bert/*.onnx
2023/f8_bert/*.pkl
2023/f8_bert/*.prof
2023/f8_bert/*.pt
2023/f8_bert/*.yaml
2023/f8_bert/*.zip
2023/f8_bert/cache/*
2023/f8_bert/data/*
2023/f8_bert/nc_workspace/*
2023/f8_bert/_quantized/*
2023/f8_bert/stat/*
2023/trees/venv/*
2023/trees/test_*
